astropy
astunparse
certifi
chardet
cloudpickle
configparser
csbdeep
dask
dill
h5py
wget
flatbuffers
idna
fpdf
gast
# google
httplib2
nodejs
imageio
joblib
llvmlite
multiprocess
numba
numpy
oauth2client
py
pyasn1
pydot
requests
rsa
scikit-image
scikit-learn
scipy
six
sortedcontainers
tblib
tensorboard
# torch
# tensorflow==2.3
termcolor
tifffile
toolz
tqdm
uritemplate
urllib3
wrapt
ipyfilechooser
opencv-python
ipywidgets
jupyterlab_widgets
pandas
tabulate
asciitree==0.3.3
certifi==2021.10.8
csbdeep==0.6.3
cytoolz==0.11.2
defusedxml==0.7.1
fasteners==0.17.3
fpdf==1.7.2
h5py==2.10.0
ipywidgets==7.6.5
llvmlite==0.38.0
numba==0.55.1
numcodecs==0.9.1
pandas==1.3.5
stardist==0.7.3
termcolor==1.1.0
wget==3.2
zarr==2.10.3